<template>
    <div lwc:if={contact} class="box-style">
        <div class="slds-m-horizontal_large">

            <div class="slds-grid slds-grid_vertical-align-center">
                <span class="slds-avatar slds-avatar_circle img-size slds-m-vertical_medium">
                    <img alt="Person name" src={photoUrl} title="Person name" onerror={handleImageError}/>
                </span>

                <div class="slds-m-left_medium">
                    <h3 class="slds-text-heading_medium"><strong>{contact.name}</strong></h3>
                </div>
            </div>

            <div class="slds-m-bottom_medium info-style">
                <div class="slds-grid">
                    <div class="slds-col slds-p-right_small slds-shrink-none slds-grow-none">
                        <lightning-icon
                                class="slds-m-right_small white-icon slds-text-color_inverse"
                                icon-name="utility:contact"
                                size="small"
                                variant="inverse"
                        ></lightning-icon>
                        Customer ID
                    </div>
                    <div class="slds-col" title={recordId} onclick={handlerCopyText} style="cursor: pointer;">
                        <strong>{recordId}</strong>
                    </div>
                </div>
                <div class="slds-grid">
                    <div class="slds-col slds-m-right_small slds-shrink-none slds-grow-none">
                        <lightning-icon
                                class="slds-p-right_small white-icon slds-text-color_inverse"
                                icon-name="utility:email"
                                size="small"
                                variant="inverse"
                        ></lightning-icon>
                        Email Address
                    </div>
                    <div class="slds-col" title={contact.email} onclick={handlerCopyText} style="cursor: pointer;">
                        <strong>{contact.email}</strong>
                    </div>
                </div>
                <div class="slds-grid">
                    <div class="slds-col slds-m-right_small slds-shrink-none slds-grow-none">
                        <lightning-icon
                                class="slds-p-right_small white-icon slds-text-color_inverse"
                                icon-name="utility:phone_portrait"
                                size="small"
                                variant="inverse"
                        ></lightning-icon>
                        Phone Number
                    </div>
                    <div class="slds-col" title={contact.phone} onclick={handlerCopyText} style="cursor: pointer;">
                        <strong>{contact.phone}</strong>
                    </div>
                </div>
                <div class="slds-grid">
                    <div class="slds-col slds-m-right_small slds-shrink-none slds-grow-none">
                        <lightning-icon
                                class="slds-p-right_small white-icon slds-text-color_inverse"
                                icon-name="utility:checkin"
                                size="small"
                                variant="inverse"
                        ></lightning-icon>
                        Address
                    </div>
                    <div class="slds-col" title={contact.fullAddress} onclick={handlerCopyText} style="cursor: pointer;">
                        <strong>{contact.fullAddress}</strong>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>