.img-size {
    /*width: 10vh;*/
    /*height: 10vh;*/
    width: 115px;
    height: 115px;
}

.box-style {
    /*width: 35vh;*/
    background: radial-gradient(circle, rgb(255 255 255 / 30%), rgb(0 0 0 / 11%)), #3e86d8;
    border-radius: 10px;
    border: 1px solid #b7d3effa;
    overflow: hidden;
    color: white;
}
.info-style {
    font-size: 18px;
}

.white-icon {
    color: white;
}

.slds-col {
    overflow: hidden;
    text-overflow: ellipsis;
}